<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.js"></script>
<!--<script type="text/javascript" src="modules/users/view/js/users.js" ></script>-->
<section id="signup-page">
    <div class="container">
            <p class="lead">Forma parte de la Familia PhotoTourist ;)
            </p>
            <hr>
      </div>
        <form id="signup_form" name="signup_form" class="">
        <!--Por Ahora esto no se usa-->
        <div class="status alert alert-success" style="display: none"></div>
        <div class="login_signup">
            <div class="social form-contact">
              <ul class="icons log">
                <div class="social form-contact">

                            <a class="icon rounded fa-facebook" id="fb" href="#">
                                <span class="label">Facebook</span>
                            </a>

                            <a class="icon rounded fa-twitter" id="twlogin" href="#">
                                <span class="label">Twitter</span>
                            </a>
                            <a class="icon rounded fa-google-plus" id="google" href="#">
                                <span class="label">Google</span>
                            </a>
                </div>
              </ul>
              <br>

            <div class=""><hr></div>

            <div class="control-group">
              <label>Email *</label>
              <input required ng-model="signup.inputEmail" type="email" id="inputEmail" name="inputEmail"
              placeholder="Email" class="form-control"  maxlength="100"
              ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i" ng-change="change_signup()">
              <span class="text-danger" ng-show="signup_form.inputEmail.$error.required && (signup_form.inputEmail.$dirty || signup_form.inputEmail.$touched)">El campo es obligatorio</span>
              <span class="text-danger" ng-show="signup_form.inputEmail.$error.email">Email no valido</span>
              <span class="text-danger" ng-show="AlertMessage" ng-model="signup.email_error">{{signup.email_error}}</span>

          </div>
            <br/>
            <div class="control-group">
                <label>Password *</label>
                <input ng-model="signup.inputPass" ng-pattern="/^.{6,12}$/" ng-change="change_signup()" type="password" id="inputPass" name="inputPass" placeholder="password" class="form-control" value="" required>
                <span class="text-danger" ng-show="signup_form.inputPass.$error.required && (signup_form.inputPass.$dirty || signup_form.inputPass.$touched)">El campo es obligatorio</span>
                <span class="text-danger" ng-show="signup_form.inputPass.$error.pattern">Passwd no válido</span><br />
                <span class="text-danger" ng-show="AlertMessage" ng-model="signup.pass_error">{{signup.pass_error}}</span>
                <div id="e_singup_password"></div>
            </div>
            <br/>

            <div class="form-group">
                <button type="Submit" id="registrar_user" name="registrar_user" class="btn btn-primary btn-lg centrado" value="REGISTRARSE"
                ng-click="SubmitSignUp()">REGISTRARSE</button>
            </div>
            <div class=""><hr></div>
        <!--/.row-->
        <div id="resultMessage"></div>

    </div>

</form>
    <!--/.container-->
</section>
<!--/#contact-page-->
